name: Auto PR

on: 
  push:
    branches: 'issue#*'

jobs:
  create-pull-request:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Extract issue number from branch name
        run: |
          # Extract issue number from branch name (e.g., "issue#16" -> "16")
          issue_number=$(echo "${GITHUB_REF_NAME}" | sed 's/[^0-9]*//g')
          echo "issue_number=$issue_number" >> $GITHUB_ENV  # Set the issue number as an environment variable
          echo "Extracted issue number: $issue_number"
    
      - name: create pull request
        run: |
            gh pr create \
              -B main \
              -H ${{ github.ref_name }} \
              --title "Auto PR from ${{ github.ref_name }} into main" \
              --body "This is an automated pull request created by GitHub Actions Workflow of auto-pr.yml solving issue ${{ env.issue_number }}"
              # "$(cat <<EOF

                # - Branch: ${{ github.ref_name }}
                # - Purpose: Merging feature or bugfix into the main branch.

                # Please review and merge the changes.
                # EOF
              --label "automated"
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

# Multi line body
# Reference issue number in body
# Use temp as base branch
# Change file name