name: Auto PR to main

on: 
  push:
    branches: 'issue#*'

jobs:
  create-pull-request:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Extract issue number from branch name
        id: extract_issue
        run: |
          # Extract issue number from branch name (e.g., "issue#16" -> "16")
          issue_number=$(echo "${GITHUB_REF_NAME}" | sed 's/[^0-9]*//g')
          echo "issue_number=$issue_number" >> $GITHUB_ENV  # Set the issue number as an environment variable
          echo "Extracted issue number: $issue_number"  # Print the issue number to the console
    
      - name: create pull request
        run: gh pr create -B main -H ${{ github.ref_name }} --title 'Merge ${{ github.ref_name }} into main' --body 'Created by Github action'
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
      # - name: Create Pull Request
      #   run: |
      #     # The base and head branches can be adjusted as needed
      #     gh pr create --title "Automated PR: $(date +"%Y-%m-%d")" --reviewer haiderzaidi07 --label "automated"